{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Live Elect | Tableau de bord{% endblock %}
{% block content_title %}Tableau de bord{% endblock %}
{% block page_actions %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a class="btn btn-danger" href="{{ path('admin_purge_results') }}" onclick="return confirm('Voulez-vous vraiment purger les données ?')">Purger les données</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('admin_export_results_par_ce') }}">Exporter avec CE</a>
    <a class="btn btn-primary" href="{{ path('admin_export_results') }}">Exporter les données</a>
{% endblock %}

{% block main %}

    {% set bg_color_participation = 'danger' %}
    {% set bg_color_votes_nuls = 'success' %}
    {% set bg_color_depouillement = 'danger' %}

    {% if taux_participation_national >= 30 and taux_participation_national <= 50 %}
    {% set bg_color_participation = 'warning' %}
    {% elseif taux_participation_national > 50 %}
    {% set bg_color_participation = 'success' %}
    {% endif %}

    {% if taux_votes_nuls >= 30 and taux_votes_nuls <= 50 %}
    {% set bg_color_votes_nuls = 'warning' %}
    {% elseif taux_votes_nuls > 50 %}
    {% set bg_color_votes_nuls = 'danger' %}
    {% endif %}

    {% if taux_depouillement >= 30 and taux_depouillement <= 50 %}
    {% set bg_color_depouillement = 'warning' %}
    {% elseif taux_depouillement > 50 %}
    {% set bg_color_depouillement = 'success' %}
    {% endif %}

    <div class="row mb-5">
        <div class="col-4 text-center">
            <div class="card bg-{{ bg_color_participation }}">
                <div class="card-body">
                    <div class="card-title text-uppercase" style="font-size: 12px">Taux de participation</div>
                    <div class="card-text fw-bold text-white" style="font-size: 20px">{{ taux_participation_national|number_format(2, ',', ' ') }} %</div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="card bg-{{ bg_color_votes_nuls }}">
                <div class="card-body">
                    <div class="card-title text-uppercase" style="font-size: 12px">Taux de bulletins nuls</div>
                    <div class="card-text fw-bold text-white" style="font-size: 20px">{{ taux_votes_nuls|number_format(2, ',', ' ') }} %</div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="card bg-{{ bg_color_depouillement }}">
                <div class="card-body">
                    <div class="card-title text-uppercase" style="font-size: 12px">Taux de dépouillement</div>
                    <div class="card-text fw-bold text-white" style="font-size: 20px">{{ taux_depouillement|number_format(2, ',', ' ') }} %</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-3 text-center"></div>
        <div class="col-3 text-center">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="card-title text-uppercase" style="font-size: 12px">Arrondissements remontés</div>
                    <div class="card-text fw-bold text-white" style="font-size: 20px">{{ arrondissements_remontes|number_format(0, ',', ' ') }} </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <div class="card bg-warning">
                <div class="card-body">
                    <div class="card-title text-uppercase" style="font-size: 12px">Arrondissements restants</div>
                    <div class="card-text fw-bold text-white" style="font-size: 20px">{{ arrondissements_restants|number_format(0, ',', ' ') }} </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-center"></div>
    </div>

    <div class="row mb-5">
        <div class="col-8 text-center ">
            <div class="card">
                <div class="card-body">
                    <canvas
                            {{ stimulus_controller('render-chart', {
                                chartData: nb_remontes,
                                chartTitle: "Nombre d'arrondissements remontés par département",
                                chartType: "bar",
                            }) }}
                    ></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body ">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-info text-center">
                                <th>Candidats</th>
                                <th>Voix</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for item in suffrages_obtenus %}
                            <tr>
                                <td class="p-3">
                                    <img class="mr-3" src="/uploads/candidats/logos/{{ item.logo }}" alt="{{ item.sigle }}" width="25">
                                    {{ item.sigle }}
                                </td>
                                <td class="text-center fw-bold p-3">{{ (item.suffrages_obtenus * 100/suffrages_exprimes_national)|number_format(2, ',', ' ') }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr class="text-info text-center">
                                <th>Candidats</th>
                                <th>Voix</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-8 text-center">
            <div class="card">
                <div class="card-body">
                    <canvas
                            {{ stimulus_controller('render-chart', {
                                chartData: taux_remontes,
                                chartTitle: "Taux de remontée par département",
                                chartType: "bar",
                            }) }}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        {% for item in circonscriptionsData %}
            <div class="col-3 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="card-title text-black fw-bold">{{ item.circonscription.nom }}</div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-6 text-center">
                                <div class="card-text fw-bold text-purple" style="font-size: 20px">{{ item.tauxParticipation|number_format(2, ',', ' ') }} %</div>
                                <div class="card-text">Participation</div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="card-text fw-bold text-info" style="font-size: 20px">{{ item.tauxDepouillement|number_format(2, ',', ' ') }} %</div>
                                <div class="card-text">Dépouillement</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            {% for percent in item.tauxCandidats %}
                            <div class="col-6 mb-5">
                                <div class="card-text fw-bold text-dark" style="font-size: 12px">
                                    <img class="mr-3" src="/uploads/candidats/logos/{{ percent.logo }}" alt="{{ percent.sigle }}" width="25">
                                    {{ percent.taux|number_format(2, ',', ' ') }}%
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <div class="card-title text-success">
                            {{ item.circonscription.siege }}
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
